/* SECTION 1-2 : ACCESSORIES & GADGETS */
.hero-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

    /* Overlay Text */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    text-shadow: 4px 4px 10px black;
}

    /* Responsive Adjustments */
@media (max-width: 768px) {
    .hero-container {
        height: 300px;
    }
    .hero-text {
        font-size: 1.5rem;
    }
}
    /*Product List CSS*/
.catalog-container {
    width: 90%;
    margin: auto;
}
    
.phone-base-product {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    justify-content: center;
}

.phone-base-product li {
    list-style: none;
    width: 250px;
    background: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.phone-base-product img {
    max-width: 100%;
    border-radius: 10px;
}

.product-title {
    font-weight: bold;
    margin: 10px 0;
}

.product-old-price {
    text-decoration: line-through;
    color: #888;
}

.product-price {
    color: #15623c;
    font-size: 18px;
    font-weight: bold;
}

    /*Button Animation*/
.add-to-cart {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background: #ebebeb;
    color: black;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.add-to-cart:hover {
    background-color: #15623c;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

    /* Responsive Adjustments */
@media (max-width: 768px) {
    .phone-base-product li {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .phone-base-product li {
        width: 100%;
    }
}

/*SECTION 3 : CASHALO*/
    /*PREVENT OVERFLOW*/
.custom-row {
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
}

#section2 .title {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 10%;
    padding-bottom: 10%;
    color: #15623c;
    text-align: center;
}

#section2 .body-section {
    background-color: #ebebeb;
    width: 100%;
    padding: 5%;
    font-size: 20px;
    text-align: justify !important;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

th {
  padding: 10px;
  text-align: left;
  background-color: #b2dfc9;
}

td {
  padding: 10px;
  text-align: left;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
    /*For ROWSPAN CELLS*/
td[rowspan] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cashalo img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}